<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @banner.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= link_to @banner.url, @banner.url %>
</p>
<p>
  <%= image_tag @banner.picture.url %>
</p>

<%= link_to 'Edit', edit_banner_path(@banner) %> |
<%= link_to 'Back', banners_path %>
