<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @frame.title %>
</p>

<p>
  <strong>Width:</strong>
  <%= @frame.width %>
</p>

<p>
  <strong>Height:</strong>
  <%= @frame.height %>
</p>

<p><strong>Embded Code:</strong><br />
<textarea rows="5" cols="60">
<!-- SU Media Frame #<%= @frame.id %> "<%= @frame.title %>" <%= @frame.width %>x<%= @frame.height %> -->
<iframe src="//s3.amazonaws.com/su-media-public/frames/frame-<%= @frame.id %>/include.html" frameborder="0" width="<%= @frame.width %>" height="<%= @frame.height %>" scrolling="no"></iframe>

</textarea>
</p>

<p><strong>Example:</strong><br />

<iframe src="//s3.amazonaws.com/su-media-public/frames/frame-<%= @frame.id %>/include.html" frameborder="0" width="<%= @frame.width %>" height="<%= @frame.height %>" scrolling="no"></iframe>
</p>

<%= link_to 'Edit', edit_frame_path(@frame) %> |
<%= link_to 'Back', frames_path %>
